################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QLThueNha1/.vs/QLThueNha1/FileContentIndex/28741dde-c5a9-431d-b045-3b414b5b97e2.vsidx
/QLThueNha1/.vs/QLThueNha1/FileContentIndex/cc8c950d-87c1-4928-808f-b52cc1011cba.vsidx
