################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/QLThueNha1/.vs/QLThueNha1/FileContentIndex/28741dde-c5a9-431d-b045-3b414b5b97e2.vsidx
/QLThueNha1/.vs/QLThueNha1/FileContentIndex/cc8c950d-87c1-4928-808f-b52cc1011cba.vsidx
/QLThueNha1/.vs/QLThueNha1/FileContentIndex/207d8170-1961-454e-8e2e-7a45b5ed0507.vsidx
/QLThueNha1/.vs/QLThueNha1/FileContentIndex/29918072-ed58-40ab-88c9-1fcbfd44f944.vsidx
/QLThueNha1/.vs/QLThueNha1/FileContentIndex/4a226061-496e-4e6e-a014-7d8bf8f9e62f.vsidx
/QLThueNha1/.vs/QLThueNha1/FileContentIndex/e1aa2d3d-fd8b-4bb7-81e7-c5e59f042ca4.vsidx
/QLThueNha1/.vs/QLThueNha1/FileContentIndex/73648a95-c5e0-4e24-b665-7c3beaece94f.vsidx
/QLThueNha1/.vs/QLThueNha1/FileContentIndex/68fb1b26-a222-48f0-9360-5a797c441bc8.vsidx
/QLThueNha1/.vs/QLThueNha1/FileContentIndex/9202f71c-f6aa-4acc-8762-82111b57a0ac.vsidx
/QLThueNha1/.vs/QLThueNha1/FileContentIndex/be16e56c-4add-4087-a3ca-6e18c0c956d4.vsidx
